/* Estilos para el modelo de caja */
* {

  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color_: #f5f5f5;
}

/* Propiedad backgorund y background size */

.hero-banner {
    width: 100%;
    height: 300px;
    background: #333 url('https://www.ceupe.com/images/easyblog_articles/3712/b2ap3_large_tipos-de-cajas-de-embalaje.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
}

.hero-banner h1 {
   display: inline-block;
   background-color: black;
   color: white;
   padding: 20px 40px;
   border-radius: 10px;
   margin: 0;
}

.main-container {
  display: block;
  width: 80%;
  max-width: 900px;
  margin: -40px auto 40px auto;
  background-color: white;
  padding: 30px;
  border: 2px solid #ddd;
}